<!DOCTYPE html>
<head>
<meta charset='utf-8'> 
{% if doc.stylesheet %}<link rel="stylesheet" type="text/css" href="{{ doc.stylesheet }}">{% endif %}
<title>{{ doc.title }}</title>
</head>
<body>
<div id="container">

<div class="header">
<h1>{% for navitem in navitems %}<a href="{{navitem.link}}">{{navitem.title}}</a> {% endfor %}</h1>
</div>
{% for item in releases %}
<div class=release>
<a href="{{item.imdburl}}"><img class=cover src="{{item.poster}}" alt="{{item.imdburl}}" /></a>
<h2><a href="{{item.imdburl}}">{{item.title}}</a></h2><br />
Released: {{item.released}}<br />
Genre: {{item.genre}}<br />
Runtime: {{item.runtime}}<br />
Rating: {{item.rating}}<br />
<p class=plot>Plot:<br />{{item.plot}}</p>
</div>
{% endfor %}
<div style="margin-top:20px; margin-bottom:20px; text-align: center; font-size:small;">
Space used by this folder: {{folder.size}}<br />
Total entries in this Folder: {{folder.count}}<br /><br />
<span style="font-size:xx-small;">script by moepi</span>
</div>

</div>
</body>
</html>

