<!DOCTYPE html>
<head>
<meta charset='utf-8'> 
<meta name="HandheldFriendly" content="true" />
<meta name="viewport" content="width=device-width, height=device-height, user-scalable=no" />
<link rel="stylesheet" type="text/css" href="style.css" />
<link rel="stylesheet" type="text/css" media="screen and (min-width: 1301px)" href="desktop.css" />
<link rel="stylesheet" type="text/css" media="screen and (max-width: 1300px)" href="smalldesktop.css" />
<link rel="stylesheet" type="text/css" media="only screen and (max-width: 400px)" href="mobile.css" />
<link rel="stylesheet" type="text/css" media="only screen and (-webkit-min-device-pixel-ratio: 2)" href="mobile.css" />
<title>A List of cool Video Material</title>
</head>
<body>
<div id="container">

<div class="header">
<h1>{% for navitem in navitems %}<a href="{{navitem.link}}">{{navitem.title}}</a> {% endfor %}</h1>
</div>
{% for i,item in enumerate(releases) %}
<div id="{{item.imdbID}}" class="release {% if i is odd %}odd{% else %}even{% endif %}">
<a href="{{item.imdbURL}}"><img class=cover src="{{item.Poster}}" alt="{{item.imdburl}}" /></a>
<h2><a href="{{item.imdbURL}}">{{item.Title}}</a>  <a class="anchor" href="#{{item.imdbID}}">#</a></h2><br />
Released: {{item.Released}}<br />
Genre: {{item.Genre}}<br />
Runtime: {{item.Runtime}}<br />
Rating: {{item.imdbRating}} ({{item.imdbVotes}} Votes)<br />
<p class=plot>Plot:<br />{{item.Plot}}</p>
</div>
{% if i is odd %}<div style="float: clear;"></div>{% endif %}
{% endfor %}
<div style="float: clear;"></div>
<div class="footer">
Space used by this folder: {{folder.size}}<br />
Total entries in this Folder: {{folder.count}}<br />
Generated: {{folder.gendate}}<br /><br />
<span style="font-size:xx-small;">script by moepi</span>
</div>

</div>
</body>
</html>
